<h3 *ngIf="!data">Criar um lembrete</h3>
<h3 *ngIf="data">Editar um lembrete</h3>
<form [formGroup]="reminderForm" (ngSubmit)="submitNewReminder()">
    <div class="form-group">
        <label for="mainTitle">Título</label>
        <input formControlName="title" type="text" class="form-control" aria-describedby="titleHelp">
        <small class="form-text text-muted">Digite o título do lembrete.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Conteúdo</label>
        <textarea formControlName="description" class="form-control" rows="5"></textarea>
    </div>
    <select formControlName="priority" class="form-control mb-4">
        <option value="1">Baixa</option>
        <option value="2">Média</option>
        <option value="3">Alta</option>
    </select>
    <div class="text-right">
        <button type="button" (click)="close()" class="btn c-btn-outline">Cancelar</button>
        <button type="submit" class="btn ml-2">Salvar</button>
    </div>
</form>