<nav class="navbar w-100  c-background">
  <a class="navbar-brand text-light" routerLink="/">
     <img width="50" [src]="reminder" alt="Lembrete"> Lembretes
  </a>
</nav>

<po-container class="p-5"  p-no-border="true" p-no-shadow="true">
  <router-outlet></router-outlet>
</po-container>

<footer class="fixed-bottom c-background w-100">
    <p class="text-light copyright text-center m-0 p-2">
      Copyright © 2020 Nixon Azeredo. Todos os direitos reservados.
Feito com ❤ pelo dev Nixon no #RiodeJaneiro 🚀.
    </p>
</footer>